/* Process Steps
-------------------------------------------------------------------- */
.mk-process-steps {
  margin-bottom: 30px;
  text-align: center;
}
.mk-process-steps ul {
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
}
.mk-process-steps ul:before {
  position: absolute;
  left: 80px;
  display: block;
  width: 85%;
  height: 0;
  border-top: 1px dashed #bbbbbb;
  content: "";
}
.mk-process-steps ul li {
  display: inline-block;
  float: left;
  margin: 0;
  padding-top: 6px;
}
.mk-process-steps ul li:hover i {
  color: #ffffff;
  -webkit-animation: toRightFromLeft 0.3s forwards;
          animation: toRightFromLeft 0.3s forwards;
}
.mk-process-steps ul li:hover .mk-process-icon {
  box-shadow: 0 0 0 6px rgba(0, 0, 0, 0.1);
}
.mk-process-steps ul li h3 {
  position: relative;
  display: inline-block;
  margin: 35px auto 20px;
  font-size: 16px !important;
}
.mk-process-steps ul li p {
  position: relative;
  display: inline-block;
  margin-bottom: 0;
  text-align: center;
}
.mk-process-icon {
  position: relative;
  display: inline-block;
  overflow: hidden;
  background-color: #ffffff;
  transition: background 0.3s, color 0.3s, box-shadow 0.3s;
  border-radius: 50%;
  box-shadow: 0 0 0 2px #bbbbbb;
}
.mk-process-icon:after {
  display: none;
}
.mk-process-icon i {
  display: inline-block;
  color: #bbbbbb;
  color: rgba(0, 0, 0, 0.24);
}
@-webkit-keyframes toRightFromLeft {
  49% {
    -webkit-transform: translate(100%);
  }
  50% {
    opacity: 0;
    -webkit-transform: translate(-100%);
  }
  51% {
    opacity: 1;
  }
}
@keyframes toRightFromLeft {
  49% {
    -webkit-transform: translate(100%);
            transform: translate(100%);
  }
  50% {
    opacity: 0;
    -webkit-transform: translate(-100%);
            transform: translate(-100%);
  }
  51% {
    opacity: 1;
  }
}
/* steps range */
.mk-process-steps.process-steps-3 ul:before {
  top: 115px;
}
.mk-process-steps.process-steps-3 li {
  width: 33.3%;
}
.mk-process-steps.process-steps-3 li h3,
.mk-process-steps.process-steps-3 li p {
  padding: 0 20px;
}
.mk-process-steps.process-steps-3 .mk-process-desc,
.mk-process-steps.process-steps-3 .mk-process-title {
  width: 288px;
}
.mk-process-steps.process-steps-3 .mk-process-icon {
  width: 230px;
  height: 230px;
  text-align: center;
}
.mk-process-steps.process-steps-3 .mk-process-icon i {
  font-size: 80px;
  line-height: 230px;
}
/* ======= */
/* steps range */
.mk-process-steps.process-steps-4 ul:before {
  top: 90px;
}
.mk-process-steps.process-steps-4 li {
  width: 25%;
}
.mk-process-steps.process-steps-4 li h3,
.mk-process-steps.process-steps-4 li p {
  padding: 0 20px;
}
.mk-process-steps.process-steps-4 .mk-process-icon {
  width: 180px;
  height: 180px;
  text-align: center;
}
.mk-process-steps.process-steps-4 .mk-process-icon i {
  font-size: 70px;
  line-height: 180px;
}
/* ======= */
/* steps range */
.mk-process-steps.process-steps-5 ul:before {
  top: 70px;
}
.mk-process-steps.process-steps-5 li {
  width: 20%;
}
.mk-process-steps.process-steps-5 li h3,
.mk-process-steps.process-steps-5 li p {
  padding: 0 15px;
}
.mk-process-steps.process-steps-5 .mk-process-icon {
  width: 140px;
  height: 140px;
  text-align: center;
}
.mk-process-steps.process-steps-5 .mk-process-icon i {
  font-size: 60px;
  line-height: 140px;
}
/* ======= */
