/*
Theme Name: Jupiter
Description: Adds support for languages written in a Right To Left (RTL) direction.
It's easy, just a matter of overwriting all the horizontal positioning attributes
of your CSS stylesheet in a separate stylesheet file named rtl.css.

See http://codex.wordpress.org/Right_to_Left_Language_Support
*/


body {
	direction: rtl;
	unicode-bidi: embed;
	text-align: right;
}


ul,
ol {
	margin: 0 20px 24px 0;
}

h1,h2,h3,h4,h5,h6, p, .the-excerpt{
	text-align: right;
}

li > ul,
li > ol {
	margin: 0 20px 0 0;
}

caption,
th,
td {
	text-align: right;
}


.column_container a,
.widget a {
	display: inline-block;
}


.mk-section-video,
.mk-loadmore-button,
.pricing-table,
.mk-tab-slider,
.mk-readmore,
.mk-blog-teaser   {
	direction: ltr !important;
}



/* Removes letter spacing for RTL languages */
abbr,
acronym
textarea,
input[type=text],
input[type=tel],
input[type=email],
input[type=password],
.sidedash-navigation-ul li a,
.mk-fullscreen-search-wrapper p,
#mk-header-checkout .product_list_widget li.empty,
.mk-shopping-cart-box .product_list_widget li.empty,
.main-navigation-ul > li.no-mega-menu ul.sub-menu li.menu-item a.menu-item-link,
#mk-breadcrumbs .mk-breadcrumbs-inner,
.news-full-with-image .news-categories span,
.news-half-with-image .news-categories span,
.news-fourth-with-image .news-categories span,
.nav-slit .nav-item-caption,
.mk-blog-grid-item .the-title a,
.mk-blog-modern-item .blog-modern-btn,
.mk-blog-classic-item .mk-readmore,
.mk-blog-modern-item .the-title,
.mk-blog-classic-item .the-title,
.mk-blog-newspaper-item time a,
.mk-blog-newspaper-item .the-title,
.mk-blog-spotlight-item .item-wrapper h3,
.mk-blog-spotlight-item .item-wrapper time,
.mk-blog-thumbnail-item .item-wrapper h3,
.mk-blog-teaser .blog-title,
.mk-blog-magazine-item .the-title,
.mk-blog-magazine-item.magazine-featured-post .the-excerpt p,
.mk-loadmore-button,
.pagnav-wrapper .pagenav-category,
.similar-post-title,
.mk-similiar-title,
.blog-comment-title,
#respond .respond-heading,
#respond #submit,
#mk-filter-portfolio.sortable-classic-style ul li a,
#mk-filter-portfolio.sortable-outline-style ul li a,
.portfolio-meta-wrapper .the-title a,
.portfolio-meta-wrapper .portfolio-categories,
.mk-portfolio-item.fadebox-hover .portfolio-categories,
.mk-portfolio-item.slidebox-hover .the-title,
.mk-portfolio-item.slidebox-hover .portfolio-categories span,
.mk-portfolio-item.slidebox-hover .portfolio-date,
.mk-portfolio-item.zoomout-hover .the-title,
.mk-portfolio-item.zoomout-hover .portfolio-categories,
.mk-portfolio-item.zoomout-hover .portfolio-date,
.mk-portfolio-item.cube-hover.portfolio-five-column .portfolio-meta .portfolio-categories,
.mk-portfolio-item.cube-hover.portfolio-four-column .portfolio-meta .portfolio-categories,
.mk-portfolio-item.cube-hover.portfolio-six-column .portfolio-meta .portfolio-categories,
.mk-portfolio-item.cube-hover.portfolio-five-column .portfolio-meta .portfolio-date,
.mk-portfolio-item.cube-hover.portfolio-four-column .portfolio-meta .portfolio-date,
.mk-portfolio-item.cube-hover.portfolio-six-column .portfolio-meta .portfolio-date,
.mk-portfolio-item.cube-hover .the-title,
.mk-portfolio-item.cube-hover .portfolio-categories,
.mk-portfolio-item.cube-hover .portfolio-date,
.mk-portfolio-item.light-zoomin-hover .portfolio-categories,
.mk-portfolio-item.light-zoomin-hover .portfolio-date,
.portfolio-similar-posts .similar-post-title,
.widgettitle,
.mk-quick-contact-wrapper .mk-quick-contact-title,
.gform_wrapper .button,
.mk-employees.simple-style .mk-employee-item .team-member-position,
.mk-employees.boxed-style .mk-employee-item .team-member-name,
.mk-employees.boxed-style .mk-employee-item .team-member-position,
.blog-carousel-title,
.mk-button,
.button,
.shop-flat-btn,
.mk-flat-button,
#review_form_wrapper input[type=submit],
.mk-chart-desc,

.mk-progress-button,
.wpcf7-submit,
.filter-faq ul li a,
.mk-gallery article .gallery-title,
.mk-event-countdown-ul li .timestamp:before,
.mk-event-countdown-ul li .timeRef,
.mk-imagebox-item .item-title,
.mk-imagebox-item .item-button a,
.mk-milestone .milestone-number,
.mk-milestone .milestone-prefix,
.mk-milestone .milestone-suffix,
.mk-milestone .milestone-text,
.mk-page-title-box .mk-page-title-box-title,
.portfolio-carousel-title,
.portfolio-carousel-cats,
.mk-skill-meter .mk-skill-meter-title,
.mk-skill-meter .mk-progress-bar .progress-percent,
.mk-tab-slider-nav a,
.mk-slider-title,
.mk-testimonial.avantgarde-style .mk-testimonial-author,
.title-line-style,
.mk-contact-form-wrapper.outline-style .mk-form-row .contact-outline-submit
{
	letter-spacing: 0 !important;
}

.main-navigation-ul > li.no-mega-menu ul.sub-menu li.menu-item a.menu-item-link {
	text-align: right;
}

.mk-contact-form-wrapper.outline-style .mk-form-row .text-input::-webkit-input-placeholder,
.mk-contact-form-wrapper.outline-style .mk-form-row .mk-textarea::-webkit-input-placeholder,
.mk-contact-form-wrapper.outline-style .mk-form-row .text-input:-ms-input-placeholder,
.mk-contact-form-wrapper.outline-style .mk-form-row .mk-textarea:-ms-input-placeholder,
.mk-contact-form-wrapper.outline-style .mk-form-row .text-input:-moz-placeholder,
.mk-contact-form-wrapper.outline-style .mk-form-row .mk-textarea:-moz-placeholder,
.mk-contact-form-wrapper.corporate-style .mk-form-row .text-input::-webkit-input-placeholder,
.mk-contact-form-wrapper.corporate-style .mk-form-row .mk-textarea::-webkit-input-placeholder,
.mk-contact-form-wrapper.corporate-style .mk-form-row .text-input:-ms-input-placeholder,
.mk-contact-form-wrapper.corporate-style .mk-form-row .mk-textarea:-ms-input-placeholder,
.mk-contact-form-wrapper.corporate-style .mk-form-row .text-input:-moz-placeholder,
.mk-contact-form-wrapper.corporate-style .mk-form-row .mk-textarea:-moz-placeholder {
	letter-spacing: 0 !important;
}

#theme-page select {
	padding: 15px 60px 14px 14px;
}


.mk-header-login .user-profile-box img {
	float: right;
}

.mk-header-login .user-profile-box a {
	margin: 0 60px 0px 0;
}




/* Shortcode
-------------------------------------------------------------------- */

.mk-accordion .mk-accordion-tab,
.mk-faq-container.fancy-style-wrapper .mk-toggle-title {
	padding: 9px 15px 12px 30px !important;
}
.mk-accordion .mk-accordion-tab i,
.mk-toggle.fancy-style .mk-toggle-title i {
	float: right;
	margin:0 0 0 10px;
}
.mk-accordion .mk-accordion-tab:before,
.mk-faq-container.fancy-style-wrapper .mk-toggle-title:before,
.mk-readmore i{
	right:auto !important;
	left:14px;
	-webkit-transform: rotate(-180deg);
	-moz-transform: rotate(-180deg);
	-ms-transform: rotate(-180deg);
	-o-transform: rotate(-180deg);
}
.mk-faq-container.fancy-style-wrapper .mk-toggle-title:before {
	top:3px;
}

.mk-tabs .mk-tabs-tabs li {
	float: right;
}
.mk-tabs .mk-tabs-tabs li.tab-with-icon a i {
	margin-right: 0;
	margin-left: 8px;
}

.mk-tabs.default-style .mk-tabs-tabs li a {
	border-left:1px solid #e5e5e5 !important;
	border-right:none!important;
}

.mk-tabs.default-style .mk-tabs-tabs li:first-child a {
	border-right: 1px solid #e5e5e5!important;
}


.mk-tabs.default-style.vertical-style .mk-tabs-tabs li a {
	border: 1px solid #e5e5e5 !important;
	border-top: none!important;
	border-left: none!important;
}

.news-tab-wrapper .new-tab-readmore i,
.mk-mini-callout a i,
.mk-blog-classic-item .mk-readmore i,
.mk-box-icon .icon-box-readmore i {
	-webkit-transform: rotate(-180deg);
	-moz-transform: rotate(-180deg);
	-ms-transform: rotate(-180deg);
	-o-transform: rotate(-180deg);
	
}

.mk-social-network-shortcode.social-align-left {
	text-align: right;
}

.mk-box-icon.boxed-style h4 {
	text-align: center;
}

.mk-box-icon.boxed-style .icon-box-boxed.left h4 {
	text-align: right;
}
.mk-box-icon.boxed-style .icon-box-readmore {
	float: right;
}

.mk-box-icon.simple_minimal-style .mk-main-ico {
	float: right;
	margin-right: 0;
	margin-left: 12px;
}

.mk-box-icon .icon-box-readmore {
	margin: 10px 0 10px 15px;
}

.mk-list-styles ul li {
	padding: 0 21px 0 0;
}
.mk-list-styles ul li:before {
	left:auto;
	right:0;
}

.animated-column-holder,
.animated-column-title {
	direction: ltr;
	left:0;
}

.mk-button {
	margin-right: 0;
	margin-left: 10px;
}

.mk-button i {
	margin-right: 0;
	margin-left: 15px;
}
.mk-button.mk-btn-anim.side i {
	-webkit-transform: translate(-50px, -50%);
	-moz-transform: translate(-50px, -50%);
	-ms-transform: translate(-50px, -50%);
	-o-transform: translate(-50px, -50%);
	transform: translate(-50px, -50%);
}


.fancy-title-align-left {
	text-align: right !important;
}



.mk-portfolio-item .the-title {
	text-align: center;
}

.mk-form-row .mk-textarea {
	text-align: right !important;
}


.mk-contact-form-wrapper.classic-style .mk-form-row .text-input {
	width: 100%;
}

.mk-content-box .content-box-heading i {
	margin-left: 6px;
	margin-right: 0;
}

.mk-fancy-title.fancy-title-align-left.pattern-style span{
	padding-left: 8px;
	padding-right: 0;
}


.mk-box-icon-2.box-align-center h3,
.mk-box-icon-2.box-align-center p,
.simple_ultimate-style h4,
 .simple_ultimate-style p {
	text-align: center;
}

.mk-image.inside-image .mk-image-caption {
	left:auto;
	right:0;
	text-align: right;
}
.mk-image-caption {
	text-align: right;
}
.mk-image .mk-image-inner{
	padding-left: 10px;
}


.mk-mini-callout .callout-title {
	float: right;
	padding: 0 0 0 6px;
}

.mk-message-box {
	background-position: 98% center; 
}
.mk-message-box span {
	padding: 15px 70px 15px 25px;
}

.mk-message-box .box-close-btn {
	right:auto;
	left:6px;
}


.mk-skill-meter .mk-progress-bar .progress-outer{
	left:auto;
	right:0;
}

.mk-skill-meter .mk-progress-bar .progress-percent {
	right:auto;
	left:6px;
}

.mk-slider-content-inside {
	direction: rtl;
}


.mk-dropcaps {
	float: right;
	margin: 5px 0 0 8px;
}

.mk-dropcaps.simple-style {
	padding: 6px 0 6px 6px;
}


.mk-blockquote.line-style {
	padding: 10px 40px 10px 10px;
	border-right: 2px solid;
	border-left:none;
}







/* Blog
-------------------------------------------------------------------- */

.mk-blog-classic-item .mk-readmore i {
	float: left;
}


.mk-pagination .mk-pagination-inner,
.mk-pagination .page-number, 
.mk-pagination .current-page {
	float: right;
}

.mk-pagination .mk-total-pages {
	float:left;
}


.mk-blog-grid-item .mk-love-holder {
	right:auto;
	left:20px;
}

.mk-blog-magazine-item .mk-blog-meta {
	float: right;
}

.mk-blog-magazine-item.magazine-thumb-post .featured-image {
	float: right;
}
.mk-blog-magazine-item.magazine-thumb-post .item-wrapper {
	float: right;
	padding:5px 20px 0 5px;
}


.mk-blog-thumbnail-item .featured-image {
	float: right;
}


.mk-blog-teaser .blog-meta {
	direction:rtl;
}

.mk-blog-teaser .blog-title:after {
	left:auto;
	right:0;
	transform-origin: right center;
	-webkit-transform-origin: right center;
}

.mk-blog-teaser .blog-title {
	float: right;
}

.mk-blog-teaser .blog-slider-item .blog-slideshow-entry .teaser-comment-love-wrapper {
	right:auto;
	left:25px;
}


.news-full-with-image .news-meta-wrapper, .news-half-with-image .news-meta-wrapper, .news-fourth-with-image .news-meta-wrapper {
	left:auto;
	right:0;
}


.mk-blog-single .blog-single-meta {
	float: right;
}

.single-social-section {
float: left;
}

.mk-about-author-wrapper .avatar-wrapper {
	float: right;
}





/* Portfolio
-------------------------------------------------------------------- */

.portfolio-meta-wrapper .the-title,
.mk-portfolio-item.cube-hover .the-title {
	text-align: right;
}

#mk-filter-portfolio ul,
#mk-filter-portfolio ul li {
	float: right;
}

.mk-portfolio-item.cube-hover .portfolio-categories, .mk-portfolio-item.cube-hover .portfolio-date {
	padding: 4px 30px 0 0;
	text-align: right;
}






/* Woocommerce
-------------------------------------------------------------------- */

.woocommerce .mk-product-holder .add_to_cart_button i, .woocommerce-page .mk-product-holder .add_to_cart_button i {
	padding-right: 0;
	padding-left: 8px;
}

.woocommerce .mk-product-holder .mk-love-this, .woocommerce-page .mk-product-holder .mk-love-this {
	right:auto;
	left:12px;
}

.woocommerce .mk-product-holder h3, .woocommerce-page .mk-product-holder h3 {
	padding: 15px 15px 0 50px;
}



.woocommerce ul.cart_list li img, 
.woocommerce ul.product_list_widget li img, 
.woocommerce-page ul.cart_list li img,
.woocommerce-page ul.product_list_widget li img {
	float: right;
	margin-left: 10px;
	margin-right: 0;
}


#mk-header-checkout .product_list_widget li, .mk-shopping-cart-box .product_list_widget li,
#mk-header-checkout .product_list_widget li .quantity, .mk-shopping-cart-box .product_list_widget li .quantity {
	text-align: right;
}

.button.alt, .shop-flat-btn.alt, .mk-flat-button.alt, #review_form_wrapper input[type=submit].alt {
	direction: ltr;
}

.woocommerce .quantity input.qty, .woocommerce-page .quantity input.qty, .woocommerce #content .quantity input.qty, .woocommerce-page #content .quantity input.qty {
	text-align: left;
}

.mk-single-price {
	float: right;
}

.mk-woo-tabs .mk-tabs-tabs li {
	border-right: 1px solid #e3e3e3;
	border-left:none;
}

#review_form_wrapper .comment-form-rating label {
	float: right;
}

.woocommerce p.stars a.star-1:after, 
.woocommerce-page p.stars a.star-1:after, 
.woocommerce p.stars a.star-2:after, 
.woocommerce-page p.stars a.star-2:after, 
.woocommerce p.stars a.star-3:after, 
.woocommerce-page p.stars a.star-3:after, 
.woocommerce p.stars a.star-4:after, 
.woocommerce-page p.stars a.star-4:after, 
.woocommerce p.stars a.star-5:after, 
.woocommerce-page p.stars a.star-5:after {
	right:0;
	left:auto;
}

.mk-message-box span {
	text-align: right;
}

.mk-message-box .button.wc-forward {
	float: left;
}

.mk-form-row .captcha-block {
	right:auto !important;
	left:0 !important;
}


.mk-accordion.fancy-style .mk-accordion-tab:before {
 left: 14px;
}

.mk-accordion.fancy-style .mk-accordion-tab {
 padding: 9px 15px 12px 30px;
}

.mk-tabs.default-style .mk-tabs-tabs li.tab-with-icon a i {
 margin: 0 8px 0 0 !important;
 float: left;
}